Repository raidorev/solarwind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache, jest --bail --findRelatedTests, yarn dedupe, yarn dedupe --check, yarn dlx @yarnpkg/doctor

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue,md,css,sass,scss,html}": ["prettier --write"],
  "*.(js|jsx|ts|tsx|vue)": ["eslint --cache", "jest --bail --findRelatedTests"],
  "yarn.lock": [
    "yarn dedupe",
    "yarn dedupe --check",
    "yarn dlx @yarnpkg/doctor"
  ]
}

chore(color): add color utils
  src/utils/color.spec.ts
  src/utils/color.ts
Due: prettier --write

fix: full height in s-theme-provider and on body and html
  src/components/s-theme-provider.vue
  src/index.css
Due: prettier --write

chore(theme): useTheme without arguments now returns current theme
  src/composables/theme.spec.ts
  src/composables/theme.ts
Due: prettier --write

chore: add framework colors in tailwind config
  tailwind.config.js
Due: prettier --write

chore(theme): use rgb channels in theme preset
  src/presets/themes/solar.ts
Due: prettier --write

Notes added by 'git notes add'
  f93c039fb0ae9285a4ddd2aeb3d7e457ddbba7b2
Due: none

ci: add codeclimate coverage
  .github/workflows/framework.yml
Due: none

chore: set skipLibCheck to true
  tsconfig.json
Due: none

chore: update yarn
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn dedupe, yarn dedupe --check, yarn dlx @yarnpkg/doctor

chore(deps): update dependencies
  package.json
  yarn.lock
Due: yarn dedupe, yarn dedupe --check, yarn dlx @yarnpkg/doctor

chore(color): allow parse `#rgb` and `#rgba` hex formats
  src/utils/color.spec.ts
  src/utils/color.ts
Due: prettier --write

test(theme): suppress warn messages
  src/composables/theme.spec.ts
Due: prettier --write
